<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: April 6, 2014
-->

<launch>
  <arg name="host" default="192.168.1.111" />
  <arg name="user" default="admin" />
  <arg name="pass" default="r0b0ts" />

  <!-- Edit the parameters here for your Rovio -->
  <param name="/rovio_shared/host" type="string" value="$(arg host)" />
  <param name="/rovio_shared/user" type="string" value="$(arg user)" />
  <param name="/rovio_shared/pass" type="string" value="$(arg pass)" />
  
  <!-- Point this to your rovio_av 'wav' directory -->
  <param name="/rovio_shared/rovio_wav" type="string" value="$(find rovio_av)/wav" />

  <!-- Create an instance of each appropriate node -->
  <include file="$(find rovio_ctrl)/launch/rovio_ctrl.launch">
    <arg name="host" value="$(arg host)" />
    <arg name="user" value="$(arg user)" />
    <arg name="pass" value="$(arg pass)" />
  </include>
  <include file="$(find rovio_av)/launch/rovio_av.launch">
    <arg name="host" value="$(arg host)" />
    <arg name="user" value="$(arg user)" />
    <arg name="pass" value="$(arg pass)" />
  </include>
  <node name="rovio_teleop" pkg="rovio_ctrl" type="rovio_teleop" respawn="false" output="screen" />
  <node name="joy_node" pkg="joy" type="joy_node" respawn="false" output="screen" />
</launch>
