<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: April 6, 2014
-->

<launch>
  <arg name="host" value="192.168.1.111" />
  <arg name="user" value="admin" />
  <arg name="pass" value="r0b0ts" />

  <!-- Edit the parameters here for your Rovio -->
  <param name="/rovio_shared/host" type="string" value="$(arg host)" />
  <param name="/rovio_shared/user" type="string" value="$(arg user)" />
  <param name="/rovio_shared/pass" type="string" value="$(arg pass)" />

  <!-- Create an instance of each appropriate node -->
  <node name="rovio_move" pkg="rovio_ctrl" type="rovio_move" respawn="false" output="screen" />
  <node name="rovio_head" pkg="rovio_ctrl" type="rovio_head" respawn="false" output="screen" />
</launch>
