<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: July 18, 2012
-->

<launch>
  <!-- Edit the parameters here for your Rovio -->
  <param name="/rovio_shared/host" type="string" value="192.168.1.131" />
  <param name="/rovio_shared/user" type="string" value="admin" />
  <param name="/rovio_shared/pass" type="string" value="r0b0ts" />

  <!-- Create an instance of each appropriate node -->
    <node name="rovio_move" pkg="rovio_ctrl" type="rovio_move" respawn="false" output="screen" />
  <node name="rovio_head" pkg="rovio_ctrl" type="rovio_head" respawn="false" output="screen" />
</launch>
